.text-center {
    text-align: center;
}
.container {
    border: solid black 30px;
    outline: solid rgb(46, 162, 239) 10px;
    outline-offset: -22px;
    border-radius: 15px;
    width: 78rem;
    height: 56rem;
    margin-left: auto;
    margin-right: auto;
  
    
    }
.slider-wrapper {
    position: relative;
    max-width: 80rem;
    max-height: 4%;
    margin: 0 auto;
    z-index: 0;
    }
.slider {
  display: flex;
  aspect-ratio: 4/4;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  box-shadow: o 1.5rem 3rem -.75rem hsla(0, 0%, 0%, .25);
  border-radius: 10px;
  position: absolute;
  height: 52rem;
  width: 78rem;
}
  
.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;           
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: -47rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  overflow-x: auto;
    
}
.slider-nav a {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: black;
  opacity: .75;
  transition: opacity ease 250ms;
}
    
.slider-nav a:hover {
  background-color: white;
}
    
    
.slidertext {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: underline;
}

.video_smoke {
height: auto;
width: auto;
aspect-ratio: 5/4;

}

.cyan {
    font-family: "Tomorrow", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(46, 162, 239) ;
}

.tomorrow-thin {
    font-family: "Tomorrow", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
  }
  
  .tomorrow-thin-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .tomorrow-extralight {
    font-family: "Tomorrow", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .tomorrow-extralight-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .tomorrow-light {
    font-family: "Tomorrow", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .tomorrow-light-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .tomorrow-regular {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .tomorrow-regular-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .tomorrow-medium {
    font-family: "Tomorrow", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .tomorrow-medium-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .tomorrow-semibold {
    font-family: "Tomorrow", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-left: 10px;
  }
  
  .tomorrow-semibold-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .tomorrow-bold {
    font-family: "Tomorrow", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .tomorrow-bold-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .tomorrow-extrabold {
    font-family: "Tomorrow", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
  }
  
  .tomorrow-extrabold-italic {
    font-family: "Tomorrow", sans-serif;
    font-weight: 800; 
}

.btn-primary {
  width: 10rem;
  height: 3rem;
  background-color: rgb(46, 162, 239);
  margin-left: 10px;
  border-radius: 15px;
  color: white;
  font-family: "Tomorrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.btn-primary:hover {
  background-color: black;
  color: rgb(46, 162, 239);
  border: dashed rgb(46, 162, 239) 3px;
  font-family: "Tomorrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.btn-primary2 {
  width: 8rem;
  height: 2rem;
  background-color: rgb(46, 162, 239);
  margin-left: 10px;
  border-radius: 15px;
  color: white;
  font-family: "Tomorrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.btn-primary2:hover {
  background-color: black;
  color: rgb(46, 162, 239);
  border: dashed rgb(46, 162, 239) 3px;
  font-family: "Tomorrow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.btn-secondary {
  background-color: rgb(46, 162, 239);
  border-radius: 5px;
  color: white;
  border: solid black 2px;
}

.pic {
  height: 50rem;
  width: 15.5rem;
  z-index: 0;
  border-radius: 15px;
}
